{{>layouts/header}}

    <table class="table">
        <thread>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
        </tr>
    </thread>
        <tbody>
            {{#articles}}
            <tr>
                <td>{{id}}</td>
                <td>{{title}}</td>
                <td>{{content}}</td>
            </tr>
            {{/articles}}
        </tbody>
    </table>
    <a href="/articles">메인</a>
    <a href="/articles/{{articles.id}}/edit" class="btn btn-primary">수정</a>
    <a href="/articles/{{articles.id}}/delete" class="btn btn-danger">삭제</a>


{{>layouts/footer}}